#image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  div {
    text-align: center;
    display: block;
    
  }
  
  body {
    text-align: center;
    position: relative;
  }

  ul {
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
  }

  li {
    padding-bottom: 30px;
  }

  p {
    text-align: left;
  }

  #img-caption {
    text-align: center;
  }

  #main {
    background-color: lightgray;
  }

  h2 {
    padding: 50px;
  }

  #date {
    font-weight: bold;
  }

  #quot {
    
    padding-left: 150px;
    padding-right: 150px;
  }

  #img-div {
    padding: 10x;
    background-color: white;
  }

  #des {
    text-align: center;
  }